.header {
    height: 56px;
    padding: 0 16px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.close {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
}

.close:hover {
    background: #fafafa;
}