.termsBlock{
    width: 800px;
padding: 80px 0;
    margin: 0 auto;  
    border: 1px solid rgb(184, 179, 179);
    background-color: rgb(243, 246, 250);
    h1{ 
        text-align: center;
        margin-bottom: 20px;
    }
}

.textBlock{
    padding: 0 15px;
}