.sidebar {
  width: 245px;
  padding: 28px 25px;
  border-right: 1px solid #ccc;
}

.sidebar_item {
  display: flex;
  align-items: center;  
  padding: 10px 0;
  cursor: pointer;
  gap: 10px;
  line-height: 1.2;
}

.sidebar_item:hover {
  background-color: #f0f0f0;
}

.profile{
  padding: 12px;
  border-radius: 50%;
  background-color: blue;
}

/* Модальне вікно */
.modal {
  position: fixed;
  top: 0;
  left: 245px;
  width: 100%;
  height: 100%;
  display: flex;
  
}

.modal_content {
  background: rgb(241, 237, 237);
  padding: 20px;
  border-radius: 8px;
  width: 245px;
}
