.forgotPassword_page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.22vw;
  padding: 80px;
  
}

.mainBlock {
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notFoundFoto{
    margin: 0 auto 14px;
}

.forgotPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #dbdbdb solid 1px;
  padding: 25px 45px 84px 45px;
  text-align: center;
}
.titlePage{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
    margin-bottom: 14px;
}

.discription{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #737373;
    margin-bottom: 14px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #737373;
  font-size: 13px;
  font-weight: 600;
  margin: 32px 0 16px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.divider::before {
  margin-right: 18px;
}

.divider::after {
  margin-left: 18px;
}

.signUp {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #262626;
}
.login_block{
    border: #dbdbdb solid 1px;
    padding: 14px 0 14px 0;
    background-color: #DBDBDB;
    text-align: center;
    
}

.login{
   font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #262626;
}