.wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.field::placeholder{
    color: #737373
}

.field {
    padding: 0 8px;
    border: #DBDBDB solid 1px;
    background-color: #FAFAFA;
    font-size: 12px;
    line-height: 36px;
}

.error{
    margin-bottom: 7px;
    color: #FF0014;
    line-height: 12px;
    font-size: 12px;
}