:root {
    --sidebar-width: 320px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--sidebar-width);

    z-index: 4000;
    background: rgba(255,255,255,1);
    backdrop-filter: blur(2px);

    display: grid;
    place-items: center;
}
