.footer{
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: center;
    align-items: center;
    color: #737373;
    font-size: 12px;
    line-height: 1.16;
    padding: 22px 0 62px 0;
    ul{ 
        display: flex;
        gap: 42px;  
        li:hover{
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
        }
    }
        
}