.followBtn {
    padding: 0 15px;
    color: #0095f6;
    border-radius: 8px;
    border: none;
    background: inherit;
    font-weight: 600;
    cursor: pointer;
}

.following {
    
    color: #000;
}