.followBtn {
    height: 32px;
    padding: 0 45px;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background: #0095f6;
    font-weight: 600;
    cursor: pointer;
}

.following {
    background: #f0f2f5;
    color: #000;
}